alembic==1.9.1
aniso8601==9.0.1
anyio==3.6.2
backoff==2.2.1
click==8.1.3
coloredlogs==14.0
croniter==1.3.8
dagit==1.1.7
dagster==1.1.7
dagster-graphql==1.1.7
docstring-parser==0.15
et-xmlfile==1.1.0
faiss-cpu==1.7.3
fsspec==2022.11.0
gql==3.4.0
graphene==3.2.1
graphql-core==3.2.3
graphql-relay==3.2.0
greenlet==2.0.1
grpcio==1.47.2
grpcio-health-checking==1.43.0
h11==0.14.0
httptools==0.5.0
huggingface-hub==0.11.1
humanfriendly==10.0
langchain==0.0.55
Mako==1.2.4
multidict==6.0.4
numpy==1.24.1
openai==0.25.0
openpyxl==3.0.10
pandas==1.5.2
pandas-stubs==1.5.2.221213
pendulum==2.1.2
protobuf==3.20.3
pydantic==1.10.4
python-dotenv==0.21.0
pytz==2022.7
pytzdata==2020.1
regex==2022.10.31
sniffio==1.3.0
SQLAlchemy==1.4.45
starlette==0.23.1
tabulate==0.9.0
tokenizers==0.13.2
toposort==1.7
tqdm==4.64.1
transformers==4.25.1
types-pytz==2022.7.0.0
universal_pathlib==0.0.21
uvicorn==0.20.0
uvloop==0.17.0
watchdog==2.2.0
watchfiles==0.18.1
websockets==10.4
yarl==1.8.2
